/* https://coolors.co/293241 */
:root {
    --bg-0: #293241;
    --bg-1: #344054;
    --bg-2: #3F4D65;
    --bg-3: #4A5B77;
    --bg-4: #566889;


    --top-nav-height: 30px;
}

/*
General Purpose
*/

ul.ul-list {
    display: flex;
    
    margin: 0;
    padding: 0;

    list-style: none;
}

.link {
    cursor: pointer;
}

canvas {
    display: flex;
    
    width: 850px;
    height: 480px;
}

/*
Layout.html
*/

.site {
    display:flex;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;
}

.top-nav {
    background-color: var(--bg-1);
    color: white;

    display: flex;
    align-items: center;

    padding: 0 0.5rem;

    height: var(--top-nav-height);
}

.editor-panel {
    display: flex;

    flex-grow: 1;

    height: calc(100vh - var(--top-nav-height));
}

.side-nav {
    background-color: rgba(127, 210, 83, 0.465);
}

/*
topnav.html
*/

.logo {
    margin: 0 0.5rem 0 0.25rem;
}

.logo > i {
    color: var(--bg-4);
}


ul.top-menu {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 0.75rem;
}

ul.top-menu > li {
    padding: 0.5rem 0.5rem;
}

/*
sidenav.html
*/

ul.side-menu {
    background-color: var(--bg-1);

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;
}

ul.side-menu > li {
    font-size: 1.25rem;
    padding: 0.5rem;
}

ul.context-menu {
    display: flex;
    
    margin: 0;
    padding: 0;

    list-style: none;
}

.ctx-menu-entry {
    background-color: var(--bg-2);
    color: white;

    padding: 0.5rem;
}

/*
editor.html
*/

.code-panel {
    display: flex;
    flex-grow: 1;

    height: 100%;
}

.editor, .viewport {
    width: calc(50% - 1px);
}


.editor {
    background-color: rgba(83, 159, 210, 0.465);

    height: 100%;

}

.viewport {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-0);

    align-items: center;

    padding: 1rem;
}
