<!-- Logo -->
<div class="logo">
    <i class="bi bi-microsoft"></i>
</div>

<ul class="top-menu">
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownFile" data-bs-toggle="dropdown" aria-expanded="false"> File </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownFile">
            <li><a class="dropdown-item" href="#">New File</a></li>
            <li><a class="dropdown-item" href="#" onclick="saveCurrentFile()">Save</a></li>
            <li><a class="dropdown-item" href="#">Save as</a></li>
        </ul>
    </li>
    <li>Run</li>
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownHelp" data-bs-toggle="dropdown" aria-expanded="false"> Help </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownHelp">
            <li><a class="dropdown-item" href="https://github.com/Malmosmo/Lynx">View GitHub</a></li>
            <li><a class="dropdown-item" href="#">About</a></li>
        </ul>
    </li>
</ul>
